[project]
name = "sandbox"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "runloop-api-client>=1.2.0",
    "sphinx>=8.2.3",
]
